@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 隐藏所有鼠标指针 */
* {
  cursor: none !important;
}

/* 自定义动画定义 */
@keyframes scroll-avatars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 动画类 */
.animate-scroll-avatars {
  animation: scroll-avatars 10s linear infinite;
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 10s linear infinite;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #C4FDAC;
  mix-blend-mode: difference;
  transition: background-color 0.2s, mix-blend-mode 0.2s;
}
